body {
  background-color: #FFF275;
}

.App {
  text-align: center;
  font-family: 'Suez One', serif;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {
  font-family: 'Suez One', serif;
}

.AddTodo {
  display: flex;
  margin: 0 1em;
  outline: none;
}

.AddTodo-button, .AddTodo-field {
  font-size: 1em;
  border-radius: 0;
  padding: 1em;
  outline: none;
  border: none;
}
.AddTodo-button {
    background-color: #6FCF97;
    color: #fff;
    width: 3.2rem;
}

.AddTodo-field {
  background-color: #fff;
  color: #222;
  width: calc(100vw - 3.2em - 4em);
}

li {
  list-style: none;
  text-align: left;
}
.active{}

.done{
  color:rgb(192, 192, 192);
  text-decoration: line-through;    
  text-decoration-color: #ce5454;
  text-decoration-style: wavy;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
