.App {
  text-align: center;
  font-family: 'Suez One', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
li{
  list-style: disc;
  text-align: left;
}
.active{}

.done{
  color:rgb(192, 192, 192);
  text-decoration: line-through;    
  text-decoration-color: #ce5454;
  text-decoration-style: wavy;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
